[2018-07-25 09:51] sabieber opened #1 "Overwrites App Icons and Theme in Manifest"
The application Properties `android:icon`, `android:roundIcon` and `android:theme` should be removed from the manifest, as these can cause conflicts.

Wan't to use this library in our app but the mentioned manifest properties result in our app icon getting overwritten by the placeholder on new android versions.

[2018-07-25 10:04] poovamraj commented on #1
Hello Thanks for opening this, I will resolve this issue and push the changes right away!

[2018-07-25 11:09] poovamraj commented on #1
Hi we have uploaded a version 1.0.2

compile 'com.poovam:pin-edittext-field:1.0.2'

But in the local test clearing the manifest doesn't seem to solve the issue. I am working on this and will update soon with a fix.

[2018-07-25 11:10] sabieber commented on #1
Thanks for looking into this issue right away

[2018-07-25 12:30] poovamraj commented on #1
Hello,

If you want a quick fix you can use the below line in your Manifest as a workaround. This will replace the label, theme and icon to your current manifest resources.

tools:replace="android:label,android:theme,android:icon"

I'll try to provide a fix for this ASAP

[2018-07-25 13:17] poovamraj commented on #1
Please use the new version 'com.poovam:pin-edittext-field:1.0.3'

It is resolved in that build.

I am closing this ticket for now but please feel free to open it again if the issue persists.

Thanks.

[2018-07-25 13:21] #1 closed

[2018-07-25 13:28] sabieber commented on #1
Works like a charm. Thanks a lot for fixing it so quickly!

[2018-08-08 14:57] NataliyaMokretsova opened #3 "How change inputType?"
Hi, how I can change "inputType" to "numberDigital", in xml it does'n work.

[2018-08-08 15:14] poovamraj commented on #3
Hello,

I guess the problem can be because you are referring to the "inputType" as "numberDigital"

If what you are looking for is number keypad then these are all the following supported values by Android

- number
- numberSigned
- numberDecimal
- numberPassword

I just checked with the "inputType" value as "number" in xml and it worked. You can find the screenshot below

Hope this answers your q

[2018-08-09 06:02] poovamraj commented on #3
Hello,

Hope the answer above solved your problem, feel to reopen this ticket if you face any problems. I would be happy to help

[2018-08-09 06:42] NataliyaMokretsova commented on #3
Hello,

I incorrectly wrote, I used the "inputType" value as "numberDecimal", but it doesn't work. Now I set the "inputType" value as "number" and it doesn't work too.

My xml:

<com.poovam.pinedittextfield.CirclePinField
android:id="@+id/pinView"
android:layout_width="wrap_content"
android:layout_height="wrap_content"
android:layout_below="@+id/secondLabel"
android:layout_centerHorizontal="true"

[2018-08-09 06:50] poovamraj commented on #3
Got the issue will provide a fixed build in next 5 minutes

[2018-08-09 06:56] NataliyaMokretsova commented on #3
Thank you for so quick help

[2018-08-09 06:59] poovamraj commented on #3
The problem is resolved in the latest version.
`implementation 'com.poovam:pin-edittext-field:1.0.4'`

Thank you for reporting this issue :) Happy to help.

[2018-08-09 06:59] poovamraj commented on #3
``

[2018-08-09 06:59] #3 closed

[2018-08-12 13:14] EgyptianM opened #4 "Why there is no cursor?"
It's very confusing to users not to see a cursor to indicate where they are writing.

I myself tapped on the edit text many times waiting for a cursor to show so I can start typing.

Is it possible to add one?

[2018-08-12 15:30] poovamraj commented on #4
Hi, currently it is not supported because most of the Pin Field UI doesn't involve a cursor. The Pin Field will highlight (you can set this using highlight color) once it is focused and will dim down when it is not focused.

I will take this as a request, work on it, and release a new version.

Since the weekend is over here, I'll work on this request next weekend.

Thank you for the support!

[2018-08-15 16:56] poovamraj commented on #4
Hi,

I have completed your requests for the cursor. Please use the latest version

implementation 'com.poovam:pin-edittext-field:1.0.5'

Use the below line to enable the cursor
app:isCursorEnabled="true"

Find the samples below

![screenshot_1534351971](https://user-images.githubusercontent.com/15910425/44161211-45d98c80-a0da-11e8-9c8e-e9268ea20ef4.png)
![screenshot_1534351987](https://user-images

[2018-08-15 16:57] #4 closed

[2018-08-21 16:28] raylee4204 opened #5 "LinePinField's field color is not used when hightlight color is enabled"
Unless I misunderstand what fieldColor is used for, the highlight color overrides the field color when set.

  <com.poovam.pinedittextfield.LinePinField
            android:id="@+id/pin_view"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_marginHorizontal="64dp"
            android:layout_marginTop="32dp"
            andr

[2018-08-21 16:32] poovamraj commented on #5
Hello,

Yes you are perfectly right. However you can disable the highlight effect by setting it to false

app:highlightEnabled="false"

Hope this solves the issue.

[2018-08-21 16:34] raylee4204 commented on #5
I thought the highlight color would be used for the current field that is highlighted as an indicator of where you are

[2018-08-21 16:36] poovamraj commented on #5
We currently have cursor for that

app:isCursorEnabled="true"

However if you require that feature. Please let me know and I can provide a build for the same on coming saturday.

[2018-08-21 16:38] raylee4204 commented on #5
A cursor can be useful and something similar to what I'd like. Just a design choice that is different here. If you can implement it, that'd be great!

[2018-08-21 16:39] poovamraj commented on #5
Sure. Ill update the build here on saturday :)

[2018-08-21 16:43] raylee4204 opened #6 "getText().clear() throws a crash"
editTextField.getText().clear() throws an exception:

E/InputEventSender: Exception dispatching finished signal.
E/MessageQueue-JNI: Exception in MessageQueue callback: handleReceiveCallback
E/MessageQueue-JNI: java.lang.IndexOutOfBoundsException: setSpan (3 ... 4) ends beyond length 0
        at android.text.SpannableStringBuilder.checkRange(SpannableStringBuilder.java:1265)
        at android.te

[2018-08-21 16:46] poovamraj commented on #6
Ill look into this and let you know. You can expect it fixed tomorrow

[2018-08-21 16:48] raylee4204 commented on #6
Thanks for the quick response!

[2018-08-21 16:49] raylee4204 commented on #6
Can you also see why clearing text or calling setText(null) dismisses the keyboard?

[2018-08-21 16:50] poovamraj commented on #6
Sure. (y)

[2018-08-23 15:26] raylee4204 commented on #6
Any update on this issue?

[2018-08-23 16:15] poovamraj commented on #6
Hey I am just opening Android Studio regarding this issue. You can expect it fixed and also the other feature u requested within next 1 hour

[2018-08-23 16:29] poovamraj commented on #6
Hello,

The above issue is not specific to the library and is inherent to the Android TextView. You can find the Stack Overflow link discussing this issue

https://stackoverflow.com/questions/32876124/indexoutofboundsexception-setspan-0-1-ends-beyond-length-0

https://stackoverflow.com/questions/48577562/indexoutofboundsexception-setspan-34-48-ends-beyond-length-34

In the first thread, you can fi

[2018-08-23 17:09] poovamraj commented on #5
You can find the feature in the latest version of the library

compile 'com.poovam:pin-edittext-field:1.0.7'

[2018-08-23 17:09] #5 closed

[2018-08-23 17:09] poovamraj commented on #6
Please let me know if you need any help regarding this issue. I am closing this issue for now but please feel free to open it again

[2018-08-23 17:09] #6 closed

[2018-08-27 15:22] raylee4204 commented on #6
Thanks for your help. While I can avoid having the crash, clearing the field still dismisses the keyboard. Is there any way you can see if it's related to the library?

[2018-08-27 15:25] raylee4204 commented on #6
Actually, I can see that you hide the input from onTextComplete event of OnTextCompleteListener

[2018-08-27 16:02] poovamraj commented on #6
I will look into this update you on it within next 24 hours

[2018-09-02 16:18] poovamraj commented on #6
Hi,

I have completed your requests for the cursor. Please use the latest version

`implementation 'com.poovam:pin-edittext-field:1.0.8'`

now the listener will take a return value based on which the keyboard can remain open or can be closed

[2018-09-24 10:07] kmno opened #7 "reduce space between circles"
Hi, i'm using circle pin field and it seems there is a default space between them. and when i set 0dp to to spaceInBetween value in xml, that space is still there. i need to make this smaller. please help me.

thanks #

[2018-09-24 10:08] poovamraj commented on #7
Sure. I will look into this and update the status here.

[2018-09-30 13:16] abdullahsen opened #8 "It doesn't refresh in fragment"
I am using it in fragment. When i initialize a new one PinEditTextFiel, its content populates earlier data.

[2018-09-30 16:10] poovamraj commented on #8
I am sorry, I don't think I can grasp fully on what's happening. Can you share the piece of code?

[2018-10-01 08:59] abdullahsen commented on #8
I solved the problem with creating new instance of fragment.
But if i come to problem which i hace faced it, I use pinedittextfield in fragment. Also, I have one also textview. When user click one button in fragment, the pinedittextfield text and lenght also text in textview are changing. The pinedittextfiel lenght change successfull but the text which i wrote in it can not disappear.

[2018-10-01 09:03] poovamraj commented on #8
Hi Abdul,

I'm happy that you solved the problem. But I guess it would be better just to use the "setText" method and set it empty rather than initiating the fragment fully again. Anyways do let me know if you need any help. I'm closing this issue for now.

[2018-10-01 09:03] #8 closed

[2018-10-07 18:31] poovamraj commented on #7
Hi,
Thanks for being patient and bringing up the issue. It is much appreciated.

I have fixed the issue temporarily in the following build. Please use and let me know

compile 'com.poovam:pin-edittext-field:1.0.8'

[2018-10-07 23:34] dozieogbo opened #9 "Border Radius on Square"
Would be really nice if it was possible to add backgrounds to each individual item in the square view or any other alternative for adding border radius to the square view.

Really amazing work.

[2018-10-07 23:43] dozieogbo opened #10 "Password not masked"
The password is not masked even if textpassword or numberpassword input type is selected

[2018-10-08 05:32] kmno commented on #7
thanks for your response @poovamraj
would you please tell me how to reduce the space between circles?

[2018-10-08 05:34] poovamraj commented on #7
use distanceInBetween parameter. If you give 0dp, It will be touching each other. Similarly you can provide the distance you want in between the circles

[2018-10-08 05:37] poovamraj commented on #9
Currently you can increase the line thickness by using the parameter lineThickness. You can also set background to the whole view by using background attribute with isCustomBackground = true.

If you are asking for a background for just the Feild and not the entire View. Then I will take it into consideration and work on it.

Thanks.

[2018-10-08 05:38] kmno commented on #7
i tested that, but there's still a space between them!
it seems it does not respect the distanceInBetween value.

[2018-10-08 05:40] poovamraj commented on #7
Are you using the latest version compile 'com.poovam:pin-edittext-field:1.0.8'

Can you send the xml you are using?

[2018-10-08 05:40] poovamraj commented on #10
This is not expected. I will look into this.

[2018-10-08 05:41] kmno commented on #7
yes i am using the latest version.

<com.poovam.pinedittextfield.CirclePinField
                android:id="@+id/password_et"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_gravity="center_horizontal"
                android:focusable="false"
                android:focusableInTouchMode="false"

[2018-10-08 05:45] poovamraj commented on #7
I am really sorry. Please use this 'com.poovam:pin-edittext-field:1.0.9' . I told 1.0.8 by mistake

[2018-10-08 06:06] kmno commented on #7
thank @poovamraj
it's working fine now.
but there one another little thing, the circles just stick to the left edge and when i set gravity to center, they all disappear.
would you please tell me how to center them?

thank you

[2018-10-08 06:08] poovamraj commented on #7
Thats the problem I have fixed in 'com.poovam:pin-edittext-field:1.0.10'. You can use this version. If you face problem with respect to half drawn circles. Please try using iscustombackground=true and background=@null

[2018-10-08 06:09] poovamraj commented on #7
I will properly fix this issue and update it here. probably ill work on it next weekend

[2018-10-08 06:09] kmno commented on #7
thanks my friend.

[2018-10-08 06:27] #7 closed

[2018-10-12 06:34] dozieogbo commented on #9
I meant for individual fields.
Either a way to set background radius because in my case, I needed something more curved at the edges or to set a custom background per field.

I am really loving you work.

[2018-10-12 06:34] dozieogbo commented on #10
Thanks a lot

[2018-10-12 10:20] poovamraj commented on #9
Okay now I get it. This is a feature that even I wanted to implement in the library. You can expect this anytime soon. For first I guess I would be providing a feature where you can set the border radius

And thanks a lot for your words. Its really nice of you. :)

[2018-10-17 11:12] naivekook opened #11 "Padding between text and underline"
Hello! Thanks for this library.
How can I set padding between text and underline?
My designer wants to do like this https://ibb.co/d9wtY0

[2018-10-20 05:29] poovamraj commented on #10
Hello, what version of the library are you using and what Pin Field View are you using?

[2018-10-20 05:34] poovamraj commented on #11
Hi @naivekook I will upload a build with this feature supported by EOD

[2018-10-20 06:41] poovamraj commented on #10
Got the issue, will fix it by EOD

[2018-10-24 08:20] naivekook commented on #11
Hello! Any news?

[2018-10-25 05:31] poovamraj commented on #11
Hello,

Sorry, you can see that I am working on a number of issue fixes and features in a new branch. The feature you are asking for is relatively simple and would take few lines of code. I will work it out the coming weekend for sure. Hope you can wait until then.

[2018-10-26 06:51] Swarup182 commented on #10
is it fixed ?

[2018-10-26 06:57] poovamraj commented on #10
Working on this. I could provide an easy fix or a proper fix. I am working on a proper one. I will provide the build next weekend. Couldn't meet the timeline since I was fixing another issue.

[2018-10-26 07:56] Swarup182 commented on #10
can you supply me with the easy fix for the moment ?

[2018-10-26 08:10] poovamraj commented on #10
Sure. I will give it tomorrow.

[2018-10-26 08:25] naivekook commented on #11
Great, thanks!

[2018-10-26 12:31] dozieogbo commented on #9
Great. Thanks.
Meant border radius not background radius :D

[2018-10-26 12:34] poovamraj commented on #9
I have finished your feature in CORNER_RADIUS_MASK_PASSWORD. I will upload it as soon as I finish the mask password feature and let you know. It will be ready by the weekend

[2018-10-27 12:49] poovamraj commented on #11
Hi,

You can find the feature implemented in this version

You can use it on LinePinField like below

Thank you for your patience. Do let me know if you need any help.

[2018-10-27 12:49] #11 closed

[2018-10-27 12:51] poovamraj commented on #10
Hi,

I have fixed this. You can find it in the below version of the library

It will be applicable to all password input types. Use it the same way you will mask an EditText. It is applicable to both LinePinField and SquarePinField. The below image is just for reference.

Thanks for your patience. Let me know if you need any help.

![whatsapp image 2018-10-27 at 6 15 20 pm](https://user-images.git

[2018-10-27 12:51] #10 closed

[2018-10-27 12:54] poovamraj commented on #9
Hi,

You can find the feature in below version of the library

Use it like below example on SquarePinField

Let me know if you need any help. Thank for your patience.

![whatsapp image 2018-10-27 at 6 15 20 pm](https://user-images.githubusercontent.com/15910425/47604307-782a3300-da15-11e8-8bf7-064f164ce262.jpeg)

[2018-10-27 12:54] #9 closed

[2018-10-27 14:12] poovamraj commented on #7
Hello :)

I have properly fixed this. You can find it in the below version

[2018-11-03 13:58] shubhamkhuva opened #13 "Increase Circle Size"
How to increase circle size ?

[2018-11-03 13:58] poovamraj commented on #13
Use circleRadiusDp to increase the circle size. Please let me know if you need any help or reopen this thread

[2018-11-03 13:58] #13 closed

[2018-11-03 14:00] shubhamkhuva commented on #13
Cool Thanx

[2018-11-03 14:03] shubhamkhuva opened #14 "Circle Fill Space"
How to add Circle Filled Spaces?

[2018-11-03 14:04] poovamraj commented on #14
Sorry I dont get you. But the circle gets filled when you type anything. Are you asking for something different?

[2018-11-03 14:05] shubhamkhuva commented on #14
Means When i enter something circles filled so i need space between filled color and border

[2018-11-03 14:09] poovamraj commented on #14
I am really sorry that feature is not available yet but thats a interesting idea. I will try to implement this in next few days. Ill update you here.

[2018-11-03 14:14] shubhamkhuva commented on #14
Yes Thank you so much and Good Work Keep it up😃

[2018-11-05 07:17] poovamraj commented on #14
Hey :)

I have added the feature you asked for in the below version

Use it in the following manner

Thanks for bringing it up. It will be really useful for others too.

![whatsapp image 2018-11-05 at 12 48 32 pm](https://user-images.githubusercontent.com/15910425/47983397-29595900-e0f9-11e8-9174-bf78506d0dac.jpeg)

[2018-11-05 07:17] #14 closed

[2018-11-26 08:59] bolotinvl opened #15 "Add typeface support"
Adding attribute textStyle in xml doesn't have any effect.

[2018-11-26 09:04] poovamraj commented on #15
Hi @bolotinvl

Thanks for reporting. This should be a simple fix. I will work on it provide it during the weekend. Hope you can wait till then.

Thank you.

[2018-12-07 10:45] cabuhatprince commented on #15
Hello, is this available? Thank you so much. :)

[2018-12-10 12:05] debuggerUA opened #16 "Please add hint support"

[2018-12-15 20:42] poovamraj commented on #16
Hi please use the below version

![whatsapp image 2018-12-16 at 2 09 22 am](https://user-images.githubusercontent.com/15910425/50047263-fcc13580-00d7-11e9-8339-aad265c4bb74.jpeg)

[2018-12-15 20:42] #16 closed

[2018-12-15 20:43] poovamraj commented on #15
Hi please find it in the below version. And really sorry for the delay. Do open this back if you need any more support

[2018-12-15 20:43] #15 closed

[2018-12-30 14:33] manishng3 opened #17 "Cursor hides as soon as last item is inserted"
The cursor is removed from the pin field as soon as the last digit is entered and the password mask appears without the original input being shown first. The user input should be visible for a short period before being masked with a bullet.

[2018-12-30 14:37] poovamraj commented on #17
Hi,

I get the point where you tell about the user input should be visible for a short period before being masked with a bullet. But what about the cursor being removed after the last digit?

I'll try and fix the password problem in maybe next 2-3 weeks. Thank you for raising it :) and have a good 2019.

[2018-12-30 15:01] manishng3 commented on #17
I meant when the input to the pin field is completed the cursor disappears and it becomes unclear whether the pinView is currently in focus or not.
Thanks for responding so quickly man and you too have a wonderful 2019.

[2018-12-30 15:03] poovamraj commented on #17
Thats intended behaviour. The focus part will be shown through the color of
the field whether its focused or not. You can see the color of the entire
field changes (just like textview) when the focus is lost

On Sun, 30 Dec 2018, 8:31 pm Manish Negi <notifications@github.com wrote:

[2018-12-30 15:11] manishng3 commented on #17
But what if one is not using a highlighted field? It feels as if the
pinView has gone out of focus after the last entry.

On Sun 30 Dec, 2018, 8:33 PM Poovamraj T T <notifications@github.com wrote:

[2018-12-30 17:34] poovamraj commented on #17
Hmmm, I get your point. I can make it in a way that if the highlight is
false, cursor will be there after the last text. But I guess positioning
the cursor after the text wont feel symmetric to the eyes. I'll see what I
can do about it.

On Sun, 30 Dec 2018, 8:41 pm Manish Negi <notifications@github.com wrote:

[2018-12-31 04:35] manishng3 commented on #17
Hey man, could you tell me why this pink icon appears on tapping the linePinField after it has been filled completely. This bubble lets the user to paste the pin even when it is disabled.
![device-2018-12-31-100402](https://user-images.githubusercontent.com/43162572/50554604-79acfb80-0ce3-11e9-8660-1b1280e2c1b4.png)

[2018-12-31 04:38] poovamraj commented on #17
android:textSelectHandle="@drawable/text_handle"

put this in your xml and it will go away. It is documented in the README

[2018-12-31 04:41] manishng3 commented on #17
Okay, thanks

[2019-01-02 05:23] manishng3 commented on #17
Hey man, Happy new year,
Could you give me any hints about making the cursor visible on the last digit of the LinePinField? I tried doing it but was not able to solve it properly. I made some changes in the onDraw method of the LinePinFiled class but it still won't show the cursor on the last field once it is filled with an entry.

[2019-01-14 09:36] justtwago opened #18 "Highlighting only completed cells?"
Is there any way to highlight only completed cells?

[2019-01-15 17:12] poovamraj commented on #18
I'll make the lib more extensible in the next release. will update you soon regarding it

[2019-02-19 10:17] amitsemwal1 opened #19 "com.poovam.pinedittextfield.LinePinField not visible when set app language arabic."
I am using below code to enter 4 digit otp code in my android app.

[code]
I have also attach image of both case were in English language fields are shown and and when i am trying to change app language to Arabic the fields are gone , not shown to me.
How can i overcome from this
![whatsapp image 2019-02-19 at 3 42 41 pm 1](https://user-images.githubusercontent.com/29171672/53007446-48d48180-345d-

[2019-02-19 10:31] poovamraj commented on #19
Hello, Guess this should be fixed in the lib code. I will try to fix it this weekend and upload. There are also two other issues I have to work on

[2019-03-01 07:55] IslamKhSh commented on #19
just add
        android:layoutDirection="ltr"
to your xml  and it will work ok

[2019-03-06 06:22] poovamraj commented on #19
@amitsemwal1 Is it working now? I am closing this issue for now. Please feel free to reopen

[2019-03-06 06:22] #19 closed

[2019-03-16 11:39] poovamraj commented on #18
This feature is provided in the latest version. Please use

    implementation 'com.poovam:pin-edittext-field:1.2.0'

Use this your view

        app:highlightType="completedFields"

Do let me know if you need more features. Thank you.

[2019-04-01 16:44] abdullahsen opened #20 "SetBackground each cell"
Hi,
Great project. Is there a way to fill color only cells?

[2019-04-01 16:52] poovamraj commented on #20
Hey, Thanks.

Sorry I am not getting the requirement. Can you elaborate on it.

[2019-04-01 17:01] abdullahsen commented on #20
I am using SquarePinField. I want to fill cells with color.
When i apply app:fieldColor="@color/colorPrimary", it does not work. I wan to paint the each cell with same color.
How can i fill color cells?

[2019-04-01 17:18] poovamraj commented on #20
Now I get it. It is currently not implemented in the library but shouldn't be a big change.. I can implement it in next few weeks when I find time or you can clone the repo and change a single line to implement this. Let me know if you want to clone and change the code I can direct you and maybe you can merge it back into the lib

[2019-05-08 13:10] chimzycash opened #21 "Logo Proposal"
Hi...
Came across your cool project... As a Logo/Icon Designer who loves to contribute to amazing open source projects, I will love to help contribute to your project by creating a new unique logo that will give your project a unique identity.

At the moment i am working on some idea concepts that i feel you might like and i will update it here once i finish it up so you can give me your feedback

[2019-05-08 13:14] poovamraj commented on #21
Sure :) That's really cool of you. Would love to see the concepts that come up :)

[2019-05-08 13:16] chimzycash commented on #21
Awesome... Would finish up the idea concept and send it here for your feedback.

I appreciate your quick response.

[2019-05-09 06:10] chimzycash commented on #21
Hello @poovamraj
Here is my logo idea concept... I would love to read your feedback and also, you can suggest the preferred logo color(s) of your choice.

![LOGO DESIGN_PETF_BACKGROUND_1](https://user-images.githubusercontent.com/37814297/57430967-37fc0680-7229-11e9-815c-a6263c5ed7f0.jpg)
![LOGO DESIGN_PETF_BACKGROUND_2](https://user-images.githubusercontent.com/37814297/57430969-392d3380-7229-11e

[2019-05-15 11:58] poovamraj commented on #21
Hi, Sorry I forgot to reply.

I really like the design and color choice. The concept is beautiful.

You can add them to README and send a pull request.

You are very talented. Thank you.

[2019-05-19 16:31] chimzycash commented on #21
Glad that you like the design... Would prepare all files + vector files and share them for your use.

[2019-05-25 07:34] hosseiniSeyRo commented on #20
Is this problem solved?

[2019-05-30 12:02] Miteshmakwana73 opened #23 "How to set typeface?"
@poovamraj
How should i set typeface?
change font

i am trying this but it's not working
`val font = Typeface.createFromAsset(activity!!.getAssets(), "fonts/sfprotext_heavy.ttf")
        otpedt.typeface = font`

[2019-05-31 11:51] Miteshmakwana73 commented on #15
@cabuhatprince i am facing same problem how should i change typeface?

[2019-06-03 02:39] cabuhatprince commented on #15
Hello, first create a font in your res folder then add it in your xml app:fontFamily="@font/font_regular" :)

[2019-06-06 13:59] poovamraj commented on #23
Hi,

Sorry for the delay. I will get back to you this weekend.

Thanks

[2019-06-11 15:39] ahmedhassan1995 commented on #19
I confirm that this doesn't fix the problem. the lines are shown in the preview part when setting layout direction to ltr but it doesn't work when running the app

[2019-06-22 04:36] poovamraj commented on #23
I took this up just now. I will provide the fix in the next few hours. Sorry for the delay.

[2019-06-22 04:38] poovamraj commented on #20
I took this up just now. You can expect the fix in next few hours

[2019-06-22 06:48] poovamraj commented on #23
Hi,

This seems to be working properly. You can find the below screenshot
![Screenshot_1561185983](https://user-images.githubusercontent.com/15910425/59960577-c8478f80-94e7-11e9-85b5-3c6af70795f2.png)

Please follow this link - https://developer.android.com/guide/topics/ui/look-and-feel/fonts-in-xml

I am closing this issue for now. Please open it if you have any other queries or need any help.

T

[2019-06-22 06:48] #23 closed

[2019-06-22 07:36] poovamraj commented on #20
Hi, you can find the requested feature in the new version

implementation 'com.poovam:pin-edittext-field:1.2.1'

![Screenshot_1561188408](https://user-images.githubusercontent.com/15910425/59960981-735b4780-94ee-11e9-94b5-df03968d58f3.png)

Sorry for the delay. Hope you guys love the lib. Let me know if you guys need any help.

[2019-06-22 07:36] #20 closed

[2019-06-22 07:43] poovamraj commented on #21
Hi,

Is there any portfolio link you could share that I could link in the readme along with your contribution

[2019-06-22 08:06] poovamraj commented on #21
Sorry for the delay. I just wanted to make sure that lib didn't undergo any incident like this - https://blog.npmjs.org/post/180565383195/details-about-the-event-stream-incident

Loved your work. Do share any links you want me to add to the Readme :) Thanks for being awesome.

[2019-06-22 08:06] #21 closed

[2019-06-24 01:35] chimzycash commented on #21
I really appreciate... Working on a portfolio...
If you have any other open source project that needs a logo design... You can hit me up here and I will be glad to help.

[2019-06-24 01:35] chimzycash commented on #21
Here is the Google Drive link to the logo files + Vector files included

https://drive.google.com/drive/folders/1mh_Ip1hEn3scaW_5guU3ZSLOIcJHXQrI?usp=sharing

[2019-08-27 07:49] mshahabrauf commented on #10
It is still not fixed through just input type of textPassword or numberPassword, You will need to use transformation method.

`lineField.setTransformationMethod(new AsteriskPasswordTransformationMethod());
`
[code]

[2019-09-06 07:33] ChiangChu opened #26 "Software Keyboard doesn't open"
Hi,

For Some reason the software keyboard is not opening.
I have the pin field inside a dialog with a constraintLayout and layout_width set to "0dp" for filling the whole width.
The Problem is when I open the dialog I can't get the software keyboard to show up. In the emulator I can at least use the hardware keyboard but thats it.
I can't figure out what I am doing wrong.

` <com.poovam.pineditte

[2019-09-06 08:30] ChiangChu commented on #26
The issue was a problem with the dialog and not your framework sorry. I will close this again.
Here the link to the issue regarding the dialog:
https://stackoverflow.com/questions/9102074/android-edittext-in-dialog-doesnt-pull-up-soft-keyboard

[2019-09-06 08:30] #26 closed

[2019-09-06 09:08] poovamraj commented on #26
Good one @ChiangChu :)

[2019-12-26 11:19] abbasnaqdi commented on #17
+1

[2020-01-20 05:55] ManishaGundapuneedi commented on #17
Hi,

Adding android:textSelectHandle="@drawable/text_handle" to xml didn't solve the issue in my case. The icon is not disappearing. Could you please suggest me a solution?

[2020-01-30 07:29] apnipunL opened #27 "I tried to make my pin field as a password field, but text is visible"
**Here is the code**

<com.poovam.pinedittextfield.SquarePinField
            android:id="@+id/txtPasscode"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:inputType="numberPassword"
            app:highlightType="completedFields"
            android:textStyle="bold"
            android:textSize="20sp"
            app:cornerRadiu

[2020-02-27 11:33] sawepeter opened #28 "Changing the borderline color."
by default the border line color is pink and I would like to customize the border line color to match the colors that I am using on my application.i have tried everything nothing works any help offered would be really appreciated

[2020-02-27 11:37] sawepeter commented on #28
sorry  i was able to solve this.On the java file just use this:
**circleField.setCircleRadiusDp(20);**

[2020-02-27 11:37] #28 closed

[2020-02-27 11:40] sawepeter commented on #28
you can also use this app:highlightColor="@android: color/white" this is actually the one that solves it

[2020-03-04 09:05] rinav opened #29 "Update kotlin to use stdlib-jdk8 instead of jre7"
Can you please update `kotlin-stdlib-jre7` to `kotlin-stdlib-jdk8` and also Kotlin version, since stdlib-jre7 is deprecated

[2020-03-20 11:06] poovamraj commented on #29
Thanks for the PR

[2020-03-20 11:06] #29 closed

[2020-03-20 11:09] poovamraj commented on #27
Sorry, this notification slipped. I will check this out and get back to you in a week

[2020-04-02 04:12] fugogugo commented on #27
any update?

[2020-04-04 19:14] apnipunL commented on #27
Thank you. Please give me an update. Anyway, I really appreciate your project.

[2020-04-13 13:22] touhid1010 commented on #27
I also need this feature for ( android:inputType="textPassword") text password.
Please add this feature.
Thanks

[2020-04-20 14:58] ColtonIdle opened #31 "Gradle build warning when using this library"
Error: jetified-kotlin-stdlib-jre7-1.2.10.jar: kotlin-stdlib-jre7 is deprecated. Please use kotlin-stdlib-jdk7 instead

[code]

Please let me know how to fix or release an udpate

[2020-04-20 18:05] poovamraj commented on #31
checking on it

[2020-04-20 18:06] poovamraj commented on #27
Hey guys, checking on this.

[2020-04-20 20:29] poovamraj commented on #27
If it is urgent, you can use 1.2.0, It is only after that version this issue has come. I will try to provide a proper fix sooner

[2020-04-20 21:06] poovamraj commented on #27
I fixed it. You can use the following version

implementation 'com.poovam:pin-edittext-field:1.2.3'

Thanks a lot for using the library, do let me know if you need any features. :)

[2020-04-20 21:06] #27 closed

[2020-04-20 21:07] poovamraj commented on #31
I see that you are using 1.2.1

Can you try using the latest version

implementation 'com.poovam:pin-edittext-field:1.2.3'

we have increased the stdlib version in it

I am closing it for now. If the issue is not fixed, please feel free to reopen

[2020-04-20 21:18] poovamraj commented on #17
Since there will be a text there, I dont think it will be good for the UI to show a handle there.

You can use the following

- `app:fieldColor` - This can be a dim color indicating that view is not in focus
- `app:highlightType="allFields"` This will highlight the view when it comes into focus
-  `app:highlightColor="@color/colorAccent"` This can be used to determine the highlight color

Do let m

[2020-04-20 21:18] #17 closed

[2020-04-20 21:58] ColtonIdle commented on #31
Didn't fix the issue for me:

Build output
[code]

And here's a warning in the IDE

<img width="718" alt="Screen Shot 2020-04-20 at 5 57 38 PM" src="https://user-images.githubusercontent.com/31751141/79803696-7c948b00-8330-11ea-8afd-6216fafc9aad.png">

[2020-04-21 06:15] poovamraj commented on #31
This doesn't seem to be an issue with the library, Can you change $kotlin_version to 1.4-M1 so that it is same as the plugin version. Currently, it seems to be 1.3.61

[2020-04-21 19:38] ColtonIdle commented on #31
$kotlin_version is set to `1.4-M1`

Both of those issues above go away if I remove your dependency. You can go ahead and try a file > new project. See that there's no errors or warnings at build time. Add your dependency, and you get the warning in the build file and a warning in the build output.

![five](https://user-images.githubusercontent.com/31751141/79906976-d5265f80-83e6-11ea-9547-07a376d2

[2020-04-21 20:32] poovamraj commented on #31
Hi,

Can you also share the error you are facing (Apart from the warning) ?

And I could not find kotlin version 1.4-M1 are you using 1.4-M1-release-101 from dev channel? If you are not sure of this, you can just copy paste both your app and project gradle here if possible

and also what happens when you set the kotlin version 1.3.61?

[2020-04-22 20:35] ferrytan opened #32 "Custom width/height ratio & field background drawables for SquarePinField"
Hi, i wonder if it's possible to add a custom background using drawables for SquarePinField, or at the very least custom width/height ratio instead of the default 1:1.

It is intended to fill a ui requirement such as this:
<img width="263" alt="Screen Shot 2020-04-23 at 03 33 57" src="https://user-images.githubusercontent.com/7360389/80031093-698de080-8513-11ea-932a-b5c7f370d17c.png">

[2020-04-22 21:19] poovamraj commented on #32
I can implement a custom drawable. The one with custom width/height ratio should be much easier to implement. Can you give me a week's time?

[2020-04-22 21:21] ferrytan commented on #32
Amazing

Awesome!
Thank you so much for this great library

[2020-04-23 22:24] ColtonIdle commented on #31
I'm going to try to reproduce in a new project using stable AS instead of canary.

[2020-04-23 23:47] ColtonIdle commented on #31
Can't repro with AS stable. Closing for now.

[2020-04-23 23:47] #31 closed

[2020-06-06 16:22] smaske1992 commented on #32
Is this issue fixed ?

[2020-06-30 02:09] BananaHuo opened #33 "when i close the activity,and its crash,could anyone can help me?"
<cn.xtwjhz.app.widget.linePinField.LinePinField
            android:id="@+id/verify_Code"
            android:layout_width="0dp"
            android:layout_height="@dimen/dp_40"
            android:layout_marginTop="@dimen/dp_17"
            android:layout_marginEnd="@dimen/dp_37"
            android:textColor="@color/colorBlack"
            android:inputType="number"
            app:isCursorEnabl

[2020-06-30 02:41] #33 closed

[2020-06-30 04:43] poovamraj commented on #33
Hi @BananaHuo

Since you have closed the ticket, I am assuming it is solved. Can you let me know what caused this crash so that anyone checking out similar issue in future would be benefited. Thanks

[2020-07-22 11:44] arpitjoshi08 opened #34 "dotted line hide behind keyboard"
i put this editext center of screen, now when i open keyboard textfiled is showing but underline hide behind keyboard. i have set adjustPan to over acitivity to up on the screen when keyboard open.

How can i show underline above with text field when keyboard open?

[2020-07-23 18:03] crackTheCode opened #35 "Paste menu not appears"
I am using the SquarePinField but the Paste Functionality doesn't seem to work.

Any ideas on how I enable it?

[2020-07-23 18:12] poovamraj commented on #34
Hi Arpit,

Are you saying that the textfield is not being pushed up? Can you attach a screenshot or a video to explain the case?

[2020-07-23 18:14] poovamraj commented on #35
Hi, can you share your xml?

Need to check whether you defined `android:textSelectHandle="@drawable/text_handle"`

Also can you let me know which version of Android are you targeting

[2020-07-23 18:21] sterien7 commented on #35
I found out that the `android:cursorVisible="false"` was creating the problem so after deleting it all worked.
Also I am having another issue. a blue line appears under the boxes and I have to set `android:background="@android:color/transparent"` in order to make it disappear. Do you have any idea about that?

[2020-07-23 18:24] poovamraj commented on #35
Can you share a screenshot?

[2020-07-23 18:31] sterien7 commented on #35
Sure
![screenshot](https://user-images.githubusercontent.com/1030014/88324122-85c43800-cd23-11ea-9497-b9f766d967d5.png)

[2020-07-23 18:38] sterien7 commented on #35
@poovamraj sorry I noticed `app:isCustomBackground="true"` so it means it has to have a background setted

So everything is ok please close the Issue

Thanks

[2020-07-24 02:32] poovamraj commented on #35
That's awesome :) Have a good one!

[2020-07-24 02:32] #35 closed

[2020-08-03 08:56] DebugHer commented on #32
Line text field text is very small and can't seem to increase it with text size

[2020-08-21 19:13] Magedsaad commented on #19
i'm still have same issue

[2020-08-21 19:19] poovamraj commented on #19
@Magedsaad  did you trying setting this
android:layoutDirection="ltr"

Can you share the layout XML you are using?

[2020-08-21 19:21] Magedsaad commented on #19
yes

[2020-08-21 19:22] Magedsaad commented on #19
<?xml version="1.0" encoding="utf-8"?>
<androidx.constraintlayout.widget.ConstraintLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:layoutDirection="ltr"
    android:background="@draw

[2020-08-21 19:24] poovamraj commented on #19
Can you try setting this to the SquarePinField instead?

[2020-08-21 19:24] Magedsaad commented on #19
sorry i had to put android:layoutDirection="ltr" in SquarePinField it's done

[2020-08-21 19:37] Magedsaad commented on #19
what should i do to integrated with OTP and filled automatically

[2020-08-26 13:54] riki-dexter opened #37 "Wrong field size when noOfFields = 2"
Hi @poovamraj , thanks for this library.
When I use SquarePinField in my activity view with attribute noOfFields = 2, presented field size is wrong. See attached image. With noOfFields greater than 2 all works fine.
![Screenshot_1598449718](https://user-images.githubusercontent.com/1485097/91312811-f04e1500-e7b4-11ea-957c-640fa5a661cd.png)

Here is my code:
`<com.poovam.pinedittextfield.SquarePinF

[2020-08-26 14:24] poovamraj commented on #37
Hi @riki-dexter

I did a quick check in the sample app and it seems to work

![img](https://user-images.githubusercontent.com/15910425/91315854-c9540b00-e7d5-11ea-9c52-c78f1d3ea16d.jpeg)

[2020-08-26 14:25] poovamraj commented on #37
Can you just change the noOfFields to 3 in your current layout and share a screenshot?

[2020-08-26 14:41] riki-dexter commented on #37
<img width="200" alt="Schermata 2020-08-26 alle 16 38 45" src="https://user-images.githubusercontent.com/1485097/91317744-b4b64980-e7ba-11ea-9868-d282e8994063.png">
Here with noOfFields = 3. I'm in a ConstraintLayout, but also with LinearLayout it doesn't change.
Also setting default attributes such as fieldBgColor, lineThickness still doesn't work.
Thank you

[2020-08-26 15:24] riki-dexter commented on #37
Debugging your code of SquarePinField.kt i noticed that in onDraw method paddedX1 and paddedX2 have same value (78.5), and also padding value is 78.5, so total size of the field is 0.
See `val paddedX2 = ((x1+singleFieldWidth)-padding)`
Setting app:distanceInBetween="20dp" as a workaround it works fine, because  padding is no more same as field size.
Setting distanceInBetween="20dp" I have this as

[2020-08-26 15:56] poovamraj commented on #37
That's a great catch riki. I will check it out and fix it in the next versions.

[2020-08-26 15:56] #37 closed

[2020-09-22 14:32] imranacodiant opened #38 "auto fill from message"
is this library providing auto fill functionality

[2020-10-14 09:24] gauravarora90 opened #39 "Square Pin Field Not supported in Arabic Language"
Hi, poovamraj,

    Currently, I am facing an issue in the Arabic Language where I am not able to see the square boxes. In English, it works very well. Can you please help me in the same.

Thanks
Gaurav Arora

[2020-10-18 10:42] poovamraj commented on #39
Hey @gauravarora90 , Can you share a screenshot if possible?

[2020-10-18 10:44] poovamraj commented on #38
Since the library is an extension of a textview it should be available though I haven't tested it myself. You can give it a go and let me know if you face any issues

[2020-10-18 17:57] Alaa-Damaj commented on #39
yes, I am facing the same issue, any suggestions, please

[2020-10-21 10:33] gauravarora90 commented on #39
@poovamraj
![Screenshot_20201021-155715](https://user-images.githubusercontent.com/4970724/96708435-de54b100-13b6-11eb-9d54-83f36eb43feb.jpg)
![Screenshot_20201021-155735](https://user-images.githubusercontent.com/4970724/96708438-df85de00-13b6-11eb-8640-5e2c385920cb.jpg)

You can see the English and Arabic versions pls @poovamraj

[2020-10-21 10:34] gauravarora90 commented on #39
![Screenshot_20201021-155735](https://user-images.githubusercontent.com/4970724/96708553-047a5100-13b7-11eb-9b28-e5715b48146a.jpg)

See the blank space in arabic version nothing visible

[2020-12-02 08:35] Karikari opened #40 "setOnTextCompleteListener methond not found"
Hello,
The setOnTextCompleteListener method for completing your documentation is not in the PinField class.

[2020-12-02 08:36] indradevelop opened #41 "Add delay text to inputType password before change to dot like edittext"
Can anyone help for add delay text to inputType password before change to dot like edittext

[2020-12-02 09:12] poovamraj commented on #40
Hey, thanks for using the library.

It is just a member variable. you can assign it to onTextCompleteListener.

Do let me know if you are still facing the issue, I'll be happy to help.

[2020-12-02 09:12] #40 closed

[2020-12-09 18:22] minhazur-piash opened #42 "Make Cursor Movable"
After enabling the cursor I want to move the cursor to a particular square field and delete the character.

[2020-12-21 11:44] masoodshah05 opened #43 "SquarePin"
setOntextComplete not available for squarepin field kindly guide

[2021-02-03 11:20] Eldho93 opened #44 "RTL support"
I have found that circle pin edittext is not visible in layout when forcing **layoutDirection="rtl"** in parent tag. Is there a workaround?

[2021-04-20 06:24] muhammadahkamahmad opened #45 "PinField.kt line 208"
Found Crash **"Caused by java.lang.IndexOutOfBoundsException: offset(5) should be less than line limit(0)"** on below code

  override fun onSelectionChanged(selStart: Int, selEnd: Int) {
        this.setSelection(this.text.length)
    }

Any solution?

[2021-04-20 06:37] poovamraj commented on #45
Can you share the xml definition in your layout and also the text that you are setting that is causing this error?

[2021-04-20 06:38] poovamraj commented on #45
Are you setting `textAllCaps`?

It could possibly be this issue - https://stackoverflow.com/a/28803492/5202830

[2021-04-20 06:41] muhammadahkamahmad commented on #45
Layout:

<com.poovam.pinedittextfield.LinePinField
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:inputType="numberPassword"
            android:textSize="16sp"
            app:highlightType="completedFields"
            android:textSelectHandle="@drawable/text_handle"
            app:noOfFields="5"
            app:distanceInBet

[2021-04-20 07:01] poovamraj commented on #45
I am doing the same and it doesn't seem to crash for me.

Are you sure you are calling this from the main thread? Seems like this can happen if it is not called from the main thread - https://stackoverflow.com/a/58513784/5202830

[2021-04-20 08:07] muhammadahkamahmad commented on #45
Its on Main Thread but its an occasional crash

[2021-04-20 12:25] dmhl opened #46 "setTextColor has no effects after initialisation"
Layout XML file is the only place when you can set text color.
[code]

When you try to change text color later (programmatically (from code) or by binding to this property) it will not react to this  change.

Version: 1.2.3

[2021-04-29 05:50] #46 closed

[2021-04-29 06:02] poovamraj commented on #46
@dmhl I have merged this to master, I have moved the library to Jitpack since Bintray is closing. You can integrate it using this way

Project level build.gradle

[code]

App level build.gradle

[code]

[2021-05-24 08:50] AndroidPat opened #48 "Missing Kotlin jdk8 after removing Jcenter from the project"
Hi,
My project stopped compiling after I removed Jcenter. I'm using
    repositories {
        google()
        mavenCentral()
        maven { url 'https://jitpack.io' }
    }
and     implementation 'com.github.poovamraj:PinEditTextField:1.2.5'

The project build fails with the following error:
Could not find org.jetbrains.kotlin:kotlin-stdlib-jdk8:1.4-M1-release-101.
Required by:
         project

[2021-05-24 09:05] poovamraj commented on #48
Hey @AndroidPat, Is it possible to share your app-level Gradle file here?

[2021-05-24 09:10] AndroidPat commented on #48
Hey @poovamraj , thanks for the quick response. Attaching the file.
[build.gradle.txt](https://github.com/poovamraj/PinEditTextField/files/6531157/build.gradle.txt)

[2021-05-24 10:48] poovamraj commented on #48
What is the $kotlin_version you are using @AndroidPat?

[2021-05-24 12:23] AndroidPat commented on #48
I am unsuccessful with both 1.4.10 and 1.5.0. Android Studio 4.2.1

[2021-05-24 13:43] poovamraj commented on #48
@AndroidPat Can you add Kotlin dependency from maven central, you can find the versions here - https://mvnrepository.com/artifact/org.jetbrains.kotlin/kotlin-stdlib-jdk8

[2021-05-24 14:15] AndroidPat commented on #48
I am now getting:
Class 'com.poovam.pinedittextfield.LinePinField' is compiled by a pre-release version of Kotlin and cannot be loaded by this version of the compiler
Tested with Kotlin 1.4.10, 1.5.0 and 1.5.10

[2021-05-24 14:17] poovamraj commented on #48
Can you invalidate caches and restart Android Studio?

[2021-05-24 14:29] AndroidPat commented on #48
Tried it twice and restarted PC - no luck.

[2021-05-25 08:07] Miteshmakwana73 opened #49 "Not able to implement library getting error kotlin-android-extensions"
Kotlin Android Extensions is deprecated, which means that using Kotlin synthetics for view binding is no longer supported.

how can I implement it without adding `id 'kotlin-android-extensions'`

[code]

Any help would be highly appreciated.

[2021-05-25 09:31] Miteshmakwana73 opened #50 "How to change SquarePinField size"
currently it's showing a square box but i want to show a verticle square box with more padding at top and bottom and less at start, end how can i achieve this

this is what i done so far

[code]

![Capture](https://user-images.githubusercontent.com/38969602/119474453-cc325b00-bd69-11eb-9ff5-c5d51119d9b6.PNG)

my requirement is to show edit text like this. how can i adjust top, bottom,start, end pa

[2021-06-04 06:59] Sardorbekcyber opened #51 "after adding lib my project cannot build and I am getting this error"
![image](https://user-images.githubusercontent.com/58398866/120759187-326a6b00-c52c-11eb-9c65-dbf8672f4ec1.png)

[2021-06-04 07:01] poovamraj commented on #51
Can you try adding this to plugin block

plugins {
    ...
    id 'kotlin-android-extensions'
}

[2021-06-04 07:08] Sardorbekcyber commented on #51
Well build still fails
![image](https://user-images.githubusercontent.com/58398866/120760235-55e1e580-c52d-11eb-974f-481bfbe69580.png) with this error and also
when I try to set up onTextComplete listener
![image](https://user-images.githubusercontent.com/58398866/120760435-8cb7fb80-c52d-11eb-8e03-15a171c86de3.png)

Unresolved reference. None of the following candidates is applicable because of re

[2021-06-04 17:56] poovamraj commented on #51
Can you try adding this to your dependency?

```implementation "org.jetbrains.kotlin:kotlin-stdlib:$kotlin_version"```

[2021-06-05 09:01] Sardorbekcyber commented on #51
I have implemented library as a seperate modul and updated kotlin and moved android extentions to viewbinding but now everthing works good except onTextCompleteListener

[2021-06-05 09:53] poovamraj commented on #51
Can you try using the new library version

```implementation 'com.github.poovamraj:PinEditTextField:1.2.6'```

[2021-06-05 09:54] poovamraj commented on #49
Can you try using the new version of the library?

```implementation 'com.github.poovamraj:PinEditTextField:1.2.6'```

[2021-06-05 09:54] poovamraj commented on #48
Can you try using the new version of the library?

```implementation 'com.github.poovamraj:PinEditTextField:1.2.6'```

[2021-06-05 10:02] poovamraj commented on #51
Can you let me know if the new version fixes the issue :) I will try to help you fix it if it is still broken

[2021-06-05 10:30] Sardorbekcyber commented on #51
Build system work good but when I try to set up onTextComplete listener

Unresolved reference. None of the following candidates is applicable because of receiver type mismatch:
public operator fun <T, R> DeepRecursiveFunction<TypeVariable(T), TypeVariable(R)>.invoke(value: TypeVariable(T)): TypeVariable(R) defined in kotlin  error persists

[2021-06-05 10:45] poovamraj commented on #51
Are you setting it up like this?

[code]

I see you are calling onTextCompleteListener as a method but it is actually a member variable

[2021-06-05 11:07] Sardorbekcyber commented on #51
Thanks for your help and patience it solved my problem

[2021-06-05 11:07] #51 closed

[2021-06-05 13:14] poovamraj commented on #49
@Miteshmakwana73 can you confirm the new fix works?

[2021-06-08 07:38] hans-de-clercq commented on #49
For me this fix works now. Thank you!

[2021-06-08 11:02] poovamraj commented on #49
@hans-de-clercq Thanks for notifying 😄 Closing this ticket now

[2021-06-08 11:02] #49 closed

[2021-06-08 11:02] poovamraj commented on #48
@AndroidPat I guess the new version should fix the issue. Can you try it out?

[2021-06-08 13:14] Miteshmakwana73 commented on #49
@poovamraj working thanks

[2021-06-12 11:44] poovamraj commented on #48
Closing this ticket since new version seems to work for others

[2021-06-12 11:44] #48 closed

[2021-06-15 22:23] AndroidPat commented on #48
Sorry for the late response, I was working on another project. The new version works, thank you!

[2021-09-01 05:18] alexjorgef commented on #31
@ColtonIdle check [this](https://stackoverflow.com/a/64239440/2042014) reference. solve my warning on canary 10, kotlin 1.5.30

[2021-09-28 06:39] waseem786 opened #52 "Cannot edit a character in LinePinField"
I am really happy to say this, this is the best pin input library available on the internet.
Lots of features, customisable and smooth.

I found an issue when I use the library,
After entering an input, if I need to edit a specific character directly, LinePinField does not allow it.

![1632810479126](https://user-images.githubusercontent.com/8718988/135035849-1e8ad59e-815d-4aa2-9622-e1b8122076cd.j

[2021-11-16 08:55] jimmy-jose commented on #41
Same issue with all the libraries that I tried.

[2022-01-06 02:51] behzod1996 opened #53 "How to delete entered pincodes if the user entered wrong pincode?"
Hello!

Sir, I have a question about wrong pin codes. How to delete entered pin codes if the user entered wrong pin codes?

Thank you!

[2022-03-18 13:58] pawel-hn commented on #42
any luck with this issue ?

[2022-05-31 10:37] mohanK22 commented on #45
@poovamraj -- I'm also facing same crash which is an occasional crash, which is occurs in the most of Samsung devices.
Any solutions? please suggest.

<img width="441" alt="Screenshot 2022-05-31 at 3 52 52 PM" src="https://user-images.githubusercontent.com/58304180/171154761-69d85548-f612-481a-9a4e-cc4f3d766ddf.png">

[2022-06-01 22:37] poovamraj commented on #45
@mohanK22 do you have a reliable way to reproduce this issue? It will be really helpful to fix it.

[2022-06-16 11:33] mohanK22 commented on #45
@poovamraj -- I tried to replicate this issue several times, but I couldn't able to replicate this issue.